.DS_Store
.build/
/Packages
# Example build products
Examples/*/Source/pdex.dylib
*.pdx
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
